.custombtn{
    padding: 20px 50px;
    margin: 20px;
}
.sub_div{
    width: 70vh;
    height: 100px;
    background-color: aqua;
    margin: auto;
    display: grid;
    place-items: center;
}
.sub_div_one{
    width: 70vh;
    height: 100px;
    background-color: lightblue;;
    margin: 10px auto;
    display: grid;
    place-items: center;
}