/* .row.content {
  height: 550px;
}
.sidenav {
  background-color: #f1f1f1;
  height: 100vh;
  overflow-y: scroll;
}
.list-box {
  border-radius: 7px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border: 2px solid #ccc;
}
@media screen and (max-width: 767px) {
  .row.content {
    height: auto;
  }
}
 */
.main {
  background-color: orange;
  height: 500px;
  padding: 30px;
}
.manSub {
  display: flex;
  height: 400px;
  background-color: green;
}
.manSubone {
  width: 40%;
  background-color: aquamarine;
  height: 200px;
}
.manSubTwo {
  width: 60%;
  background-color: lightcoral;
  height: 200px;
  display: flex;
  flex-direction: row;
}
.mainmain {
  width: 100%;
}
.manSubTwoSub {
  padding: 30px;
  margin: 30px;
  float: left;
  width: 40%;
  background-color: aliceblue;
}
