*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Primaray-color: lightgreen;
  --secondary-color: #fff;
}
.main {
  /* height: 100%;
    background-color: var(--Primaray-color); */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  /* background-color: var(--Primaray-color); */
  display: flex;
  justify-content: center;
}
.btn {
  padding: 10px 30px;
  margin: 10px;
}
.tostBox {
  position: absolute;
  padding: 5px;
  bottom: 0px;
  right: 0px;
}
.itemBox {
    color: #fff;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
