.main {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
}

.mainBox {
  width: 400px;
  text-align: center;
  z-index: 25;
}
.popupmaga {
  position: fixed;
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  /*  align-items: center; */
  background: white;
  z-index: 50;
  border-radius: 20px;
  padding: 20px;
}
