.main{
    background-color: aqua;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submain{
    width: 30%;
    height: 100px;
    background-color: greenyellow;
    margin: 10px;
}